<div class="backgroundOverlay">
  <app-header></app-header>

  <main class="mainContainer">
    <app-progress
      *ngIf="surveyProgress.questionsRemain"
      [questionsRemain]="surveyProgress.questionsRemain"
      [qtyMovies]="surveyOptions.qtdMovies"
    ></app-progress>
    <app-movies
      *ngIf="surveyProgress.questionsRemain"
      [movies]="movies"
      (movieId)="handlerClick($event)"
    ></app-movies>
    <app-final-ad
      [@fadeInAnimation]="'in'"
      *ngIf="!surveyProgress.questionsRemain"
      [IMDBLink]="surveyProgress.finalIMDBLink"
    ></app-final-ad>
  </main>

  <app-footer></app-footer>

  <app-modal-dialog
    [@fadeInOutAnimation]="'in'"
    *ngIf="modalDialogMessage.message"
    [modalDialogMessage]="modalDialogMessage.message"
  >
  </app-modal-dialog>
</div>
